{{> welcomemenu }}

<p>Welcome to Keycloak's - <strong>Authorized/Protected Page</strong></p>

<a class="btn-normal" href="/logout">Logout</a>

<a class="btn-normal" href="http://4.195.113.96:3000/">Redirect</a>
